<div class="page-width">
<div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div>
<div class="rte">
<div style="text-align: center"><img src="" id="wk_loader" /></div>
<div id="wk_content" style="display:none">
<p id="wk_orderitem"></p>
<p id="wk_assigned_agent" style="display:none"><span id="wk_agentname"></span>
<span id="wk_inmin"></span></p>
</div>
<div id="wk_map" style="width: 100%; height: 400px;"></div>
</div>
</div>